/* ==========================================================================
   COMMON
   ========================================================================== */
body {
  font-family: 'Arvo', sans-serif;
  font-size: $text-size__base;
  color: $color__text-main;
  line-height: 1.5;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  @include unstyled-link;
  color: $color__main;
  &:hover {
    background-color: #FFF;
    transition: all .2s;
  }
}
