/* ==========================================================================
   MODULES
   ========================================================================== */
//////////////////////////////// HEADLINES
%heading {
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: $text-size__heading;
}

//////////////////////////////// HEADER
.header__title {
  @include hide-text();
  display: block;
  width: 160px;
  height: 160px;
  background-image: url('../images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

//////////////////////////////// CONTENTS
.works__heading {
  @extend %heading;
}
.outputs__heading {
  @extend %heading;
}
.findme__heading {
  @extend %heading;
}
.about__heading {
  @extend %heading;
}
.contact__heading {
  @extend %heading;
}

.greeting {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.works {
  margin-top: 40px;
}
.works__items {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px;
  font-weight: bold;
}

.outputs {
  margin-top: 40px;
}
.outputs__items {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px;
  font-weight: bold;
}

.findme {
  margin: 60px auto;
}
.findme__items {
  font-size: 36px;
}
.findme__items-small {
  font-size: 18px;
  line-height: 32px;
}
.findme__item-cell {
  display: inline-block;
  width: 40px;
  margin-right: 4px;
}

%findme__item {
  display: inline-block;
}
.findme__item-twitter {
  @extend %findme__item;
}
.findme__item-facebook {
  @extend %findme__item;
}
.findme__item-dribbble {
  @extend %findme__item;
}
.findme__item-tumblr {
  @extend %findme__item;
}

.contact {
  margin: 60px auto;
}

//////////////////////////////// FOOTER
.footer {
  margin: 60px auto 20px;
}
.footer__copyright {
  font-size: $text-size__small;
}
