/* ==========================================================================
   VARIABLES
   ========================================================================== */
$color__main: #ea2e73;
$color__text-main: #ffffff;

$text-size__title: 48px;
$text-size__base: 18px;
$text-size__small: 16px;
$text-size__heading: 32px;
$text-size__heading-small: 28px;
