// /*------- Responsive: pc view -------*/
// @media screen and (max-width: 1024px) {
// }


/*------- Responsive: tb view -------*/
@media screen and (max-width: 960px) {}


/*------- Responsive: tb view -------*/
@media screen and (max-width: 768px) {}


/*------- Responsive: sp view -------*/
@media screen and (max-width: 600px) {}


/*------- Responsive: sp view -------*/
@media screen and (max-width: 480px) {
  #home {
    font-size: 1.8em;
  }
  %section-heading {
    font-size: 3.6rem;
  }
  %section-heading-sub {
    font-size: 2.0rem;
  }
  .logo {
    width: 180px;
  }
}
